@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Open+Sans:wght@300;400;600&family=Oswald:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  transition: 0.5s;
}

html, body {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 18px;
  padding-bottom: 18px;
}

.header .header__nav {
  display: flex;
  column-gap: 36px;
}

.header .header__nav a {
  text-decoration: none;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 171%;
  text-transform: uppercase;
  color: #000000;
}

.header button {
  background: #5B6460;
  padding: 16px 60px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
  transition: .2s ease-in-out;
  border: none;
  cursor: pointer;
}

.header button:before {
content: "";
background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
height: 70px;
width: 50px;
position: absolute;
top: -8px;
left: -75px;
transform: skewX(-45deg);
}
.header button:hover {
background: #5B6460;
opacity: 0.9;
color: #fff;
}
.header button:hover:before {
left: 250px;
transition: .5s ease-in-out;
}

.container1 {
  position: relative;
  width: 100%;
  height: 50vh;
  background-image: url(../images/background1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.menu-button {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    position: fixed;
    z-index: 2000;
    display: none;
}

.bar1, .bar2, .bar3 {
    width: 15px;
    height: 2px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-3px, 4px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: rotate(45deg) translate(-3px, -4px);
}

.container1 .container1__menu {
  width: 100vw;
  height: 100vh;
  background: #5B6460;
  position: fixed;
  z-index: 1000;
  transform: translateX(-100vw);
  transition: 0.3s;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  display: none;
}

.container1 .showMenu {
  transform: translateX(0vw);
}

.container1 .container1__menu .container1__nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container1 .container1__menu .container1__nav li {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.container1 .container1__menu .container1__nav li:hover {
  background: #fff;
}

.container1 .container1__menu .container1__nav a {
  text-decoration: none;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 171%;
  text-transform: uppercase;
  color: #fff;
}

.container1 .container1__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container1 .container1__content h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 70px;
  line-height: 103%;
  text-align: center;
  color: #FFFFFF;
  padding-top: 70px;
}

.container1 .container1__content p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 133%;
  text-decoration-line: underline;
  color: #FFFFFF;
  text-align: center;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: default;
}

.container2 {
  padding: 100px 40px 100px 140px;
}

.container2 .container2__content {
  display: flex;
  justify-content: space-between;
  gap: 140px;
}

.container2 .container2__content .container2__left .container2__paragraph:nth-child(n+2) {
  padding-top: 100px;
}

.container2 .container2__content .container2__left .container2__paragraph .container2__services {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #E9ECE0;
  padding: 13px 24px;
  cursor: pointer;
}

.container2 .container2__content .container2__left .container2__paragraph .container2__services:nth-child(n+2) {
  margin-top: 24px;
}

.container2 .container2__content .container2__left .container2__paragraph .container2__services .services__part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.container2 .container2__content .container2__left .container2__paragraph .container2__services .services__part .services__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container2 .container2__content .container2__left .container2__paragraph .container2__services .services__part .services__text p:first-child {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 111%;
  color: #333333;
}

.arrow__rotate {
  transform: rotateZ(180deg);
  transition: 0.5s;
}

.container2__additional {
  display: none;
  flex-direction: column;
  gap: 28px;
  transition: all 0.5s;
  transition: padding 0.5s;
}

.additional__flex {
  animation-name: slideIn;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  overflow: hidden;
  padding: 32px 24px;
}

@keyframes slideIn {
  0% {
    height: 0px;
    padding: 0px 24px;
  }

  100% {
    height: 208px;
    padding: 32px 24px;
  }
}

.removing__flex {
  animation-name: slideOut;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  overflow: hidden;
  padding: 32px 24px;
}

@keyframes slideOut {
  0% {
    height: 208px;
    padding: 32px 24px;
  }

  100% {
    height: 0px;
    padding: 0px 24px;
  }
}

.container2 .container2__content .container2__left .container2__paragraph .container2__additional .additional__option {
  display: flex;
  align-items: center;
  gap: 20px;
}

.additional__checkbox {
  background: #fff;
  background-image: url(../images/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  border: 0.7px solid #333333;
}

.add__checkbox {
  background: #5B6460;
  background-image: url(../images/yes.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  border: 0.7px solid #333333;
}

.container2 .container2__content .container2__left .container2__paragraph .container2__additional .additional__text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.container2 .container2__content .container2__left .container2__paragraph .container2__additional .additional__text p:first-child {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 143%;
  color: #333333;
}

.container2 .container2__content .container2__left .container2__paragraph .container2__additional .additional__text p:last-child {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 143%;
  color: #333333;
}

.container2 .container2__content .container2__left .container2__paragraph h4 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: #5B6460;
}

.container2 .container2__content .container2__left .container2__paragraph hr {
  margin: 24px 0;
}

.container2 .container2__content .container2__left .container2__paragraph .container2__conditions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container2 .container2__content .container2__left .container2__paragraph p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 112%;
  color: #333333;
}

.container2 .container2__right .container2__form {
  border: 0.7px solid #5B6460;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.container2 .container2__right .container2__form h5 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 167%;
  color: #333333;
}

.container2 .container2__right .container2__form h5 span {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 250%;
  color: #333333;
}

.container2 .container2__right .container2__form .form__first {
  border: 0.7px solid #5B6460;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding: 16px 20px;
}

.container2 .container2__right .container2__form .form__first .form__date {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.container2 .container2__right .container2__form .form__first .form__date:nth-child(n+2) {
  border-left: 0.7px solid #5B6460;
  padding-left: 20px;
}

.container2 .container2__right .container2__form .form__first .form__date p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 133%;
  color: #333333;
}

.container2 .container2__right .container2__form .form__first .form__date input {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 133%;
  color: #333333;
  border: none;
}

.container2 .container2__right .container2__form .form__first .form__date .form__counter {
  display: flex;
  align-items: center;
}

.container2 .container2__right .container2__form .form__first .form__date .form__counter button {
  border: none;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30px;
  height: 100%;
  cursor: pointer;
}

.container2 .container2__right .container2__form .form__first .form__date .form__counter button:last-child {
  padding-left: 20px;
}

.container2 .container2__right .container2__form .form__first .form__date .form__counter span {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 129%;
  color: #333333;
}

.container2 .container2__right .container2__form #bookButton {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 200%;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 16px;
  background: #5B6460;
  position: relative;
  overflow: hidden;
  transition: .5s ease-in-out;
  border: none;
  cursor: pointer;
}

.container2 .container2__right .container2__form #bookButton:before {
content: "";
background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
height: 80px;
width: 50px;
position: absolute;
top: -8px;
left: -85px;
transform: skewX(-45deg);
}

.container2 .container2__right .container2__form #bookButton:hover {
background: #5B6460;
opacity: 0.9;
color: #fff;
}

.container2 .container2__right .container2__form #bookButton:hover:before {
left: 750px;
transition: 0.7s ease-in-out;
}

.form__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 112%;
  color: #333333;
}

.formDesk__flex {
  display: flex;
}

.form__options:nth-child(n+3) {
  display: none;
}

.form__options:last-child {
  display: flex;
}

.form__options:nth-child(n+2) {
  margin-top: 20px;
}

.container2 .container2__right .container2__form .form__third {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 112%;
  color: #333333;
}

.container2 .container2__right .container2__form .form__fourth {
  display: flex;
  align-items: center;
}

.container2 .container2__right .container2__form .form__fourth input {
  padding: 16px 20px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 112%;
  color: #828282;
  outline: none;
}

.container2 .container2__right .container2__form .form__fourth input:first-child {
  border-radius: 0px;
  border: 0.7px solid #5B6460;
  width: 75%;
}

.container2 .container2__right .container2__form .form__fourth input:last-child {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 112%;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #5B6460;
  border: 0.7px solid #5B6460;
  width: 25%;
  cursor: pointer;
  transition: 0.2s;
}

.container2 .container2__right .container2__form .form__fourth input:last-child:hover {
  opacity: 0.9;
}

.footer {
  background: #5B6460;
  display: flex;
  justify-content: space-around;
  column-gap: 100px;
  padding: 100px;
}

.footer .footer__left h4 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 188%;
  color: #FFFFFF;
  padding-bottom: 40px;
}

.footer .footer__left .footer__form {
  border-bottom: 1px solid #EFEFEF;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.footer .footer__left .footer__form input {
  border: none;
  background: #5B6460;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 188%;
  color: #FFFFFF;
  width: 100%;
}

.footer .footer__left .footer__form input {
  outline: 0;
}

.footer .footer__left .footer__form button {
  border: none;
  background: #5B6460;
  cursor: pointer;
}

.footer .footer__left p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 188%;
  color: #FFFFFF;
  opacity: 0.7;
  padding-bottom: 70px;
}

.footer .footer__left span {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 214%;
  color: #EFEFEF;
  opacity: 0.7;
}

.footer .footer__right .footer__nav {
  display: flex;
  column-gap: 33px;
  padding-bottom: 60px;
}

.footer .footer__right .footer__nav a {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 171%;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.footer .footer__right .footer__icons {
  display: flex;
  column-gap: 40px;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 1440px) {
  .container2 {
    padding: 75px 30px 75px 80px;
  }

  .container2 .container2__content {
    gap: 90px;
  }
}

@media (max-width: 1024px) {
  .header a {
    font-size: 16px;
  }

  .header button {
    padding: 10px 36px;
  }

  .container1 .container1__content h2 {
    font-size: 56px;
  }

  .container1 .container1__content p {
    font-size: 14px;
  }

  .container2 {
    padding: 50px;
  }

  .container2 .container2__content {
    flex-wrap: wrap;
    gap: 50px;
  }

  .container2 .container2__content .container2__right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .container2 .container2__content .container2__left .container2__paragraph:nth-child(n+2) {
    padding-top: 50px;
}

  .footer {
    padding: 60px;
  }

  .footer .footer__left h4 {
    padding-bottom: 20px;
  }

  .footer .footer__left p {
    font-size: 16px;
    padding-bottom: 40px;
  }

  .footer .footer__left span {
    font-size: 16px;
  }

  .footer .footer__right .footer__nav {
    padding-bottom: 40px;
  }

  .footer .footer__right .footer__nav a {
    font-size: 16px;
  }
}

@media (max-width: 705px) {
  .header {
    display: none;
  }

  .menu-button {
    display: inline-block;
  }

  .container1 .container1__menu {
    display: flex;
  }

  .container1 .container1__content h2 {
    font-size: 36px;
  }

  .container1 .container1__content p {
    font-size: 12px;
  }

  .container2 {
    padding: 40px;
  }

  .container2 .container2__content {
    gap: 40px;
  }

  .container2 .container2__content .container2__left .container2__paragraph:nth-child(n+2) {
    padding-top: 40px;
}

  .container2 .container2__content .container2__left .container2__paragraph h4 {
    font-size: 24px;
  }

  .additional__checkbox {
    width: 28px;
    height: 28px;
  }

  .container2 .container2__content .container2__left .container2__paragraph .container2__services .services__part .services__text p:first-child {
    font-size: 16px;
  }

  .container2 .container2__content .container2__left .container2__paragraph .container2__services .services__part .services__text p {
    font-size: 14px;
  }

  .container2 .container2__content .container2__left .container2__paragraph p {
    font-size: 14px;
  }

  .container2 .container2__content .container2__left .container2__paragraph .container2__services svg {
    width: 19px;
    height: 9px;
  }

  .container2 .container2__right .container2__form h5 {
    font-size: 20px;
  }

  .container2 .container2__right .container2__form h5 span {
    font-size: 14px;
  }

  .container2 .container2__right .container2__form {
    padding: 16px;
    gap: 16px;
  }

  .container2 .container2__right .container2__form .form__first {
    grid-gap: 30px;
  }

  .container2 .container2__right .container2__form .form__first input {
    width: 120px;
  }

  input[type=date]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  .form__options {
    font-size: 16px;
  }

  .container2 .container2__right .container2__form .form__third {
    font-size: 20px;
  }

  .container2__additional {
    gap: 14px;
  }

  .additional__flex {
    padding: 18px;
  }

  @keyframes slideIn {
    0% {
      height: 0px;
      padding: 18px;
    }

    100% {
      height: 208px;
      padding: 18px;
    }
  }

  @keyframes slideOut {
    0% {
      height: 208px;
      padding: 18px;
    }

    100% {
      height: 0px;
      padding: 0 18px;
    }
  }

  .container2 .container2__content .container2__left .container2__paragraph .container2__additional .additional__option {
    gap: 12px;
  }

  .container2 .container2__content .container2__left .container2__paragraph .container2__additional .additional__text {
    gap: 4px;
  }

  .container2 .container2__content .container2__left .container2__paragraph .container2__additional .additional__text p:first-child  {
    font-size: 14px;
  }

  .container2 .container2__content .container2__left .container2__paragraph .container2__additional .additional__text p:last-child {
    font-size: 14px;
  }

  .footer {
    padding: 60px;
    flex-direction: column;
    gap: 30px;
  }

  .footer .footer__right .footer__nav {
    padding-bottom: 40px;
    justify-content: center;
  }

  .footer .footer__right .footer__icons {
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .container1 {
    height: 25vh;
  }

  .container2 {
    padding: 28px;
  }

  .container2 .container2__content {
    gap: 28px;
  }

  .container2 .container2__content .container2__left .container2__paragraph:nth-child(n+2) {
    padding-top: 28px;
}

  .container2 .container2__content .container2__left .container2__paragraph h4 {
    font-size: 18px;
  }

  .additional__checkbox {
    width: 24px;
    height: 24px;
  }

  .container2 .container2__content .container2__left .container2__paragraph .container2__services .services__part .services__text p:first-child {
    font-size: 14px;
  }

  .container2 .container2__content .container2__left .container2__paragraph .container2__services .services__part .services__text p {
    font-size: 13px;
  }

  .container2 .container2__content .container2__left .container2__paragraph p {
    font-size: 13px;
  }

  .container2 .container2__content .container2__left .container2__paragraph .container2__services svg {
    width: 16px;
    height: 7px;
  }

  .container2 .container2__right .container2__form h5 {
    font-size: 18px;
  }

  .container2 .container2__right .container2__form h5 span {
    font-size: 13px;
  }

  .container2 .container2__right .container2__form .form__first {
    grid-gap: 20px;
    padding: 12px;
  }

  .container2 .container2__right .container2__form .form__first input {
    width: 110px;
  }

  .form__options {
    font-size: 16px;
  }

  .container2 .container2__content .container2__left .container2__paragraph .container2__services .services__part {
    gap: 12px;
  }

  .container1 .container1__content h2 {
    font-size: 28px;
    padding-top: 40px;
  }

  .footer .footer__right .footer__nav a {
    font-size: 12px;
  }

  .footer .footer__right .footer__icons {
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .container1 .container1__content h2 {
    padding-bottom: 10px;
    padding-right: 20px;
    font-size: 26px;
  }

  .services__choose {
    display: none;
  }

  .additional__checkbox {
    width: 20px;
    height: 20px;
  }

  .container2 .container2__content .container2__left .container2__paragraph .container2__additional .additional__text p:last-child {
    width: 275px;
  }

  .container2 .container2__right .container2__form .form__first .form__date:nth-child(n+2) {
    padding-left: 8px;
  }

  .container2 .container2__content .container2__left .container2__paragraph hr {
    margin: 16px 0;
  }

  .container2 .container2__right .container2__form .form__first {
    grid-gap: 8px;
  }

  .container2 .container2__right .container2__form .form__first .form__date .form__counter button {
    width: 20px;
  }

  .container2 .container2__right .container2__form .form__first .form__date:last-child {
    text-align: center;
  }

  .container2 .container2__right .container2__form .form__first .form__date .form__counter {
    justify-content: center;
  }

  .container2 .container2__right .container2__form .form__first .form__date .form__counter span {
    font-size: 14px;
  }

  .container2 .container2__right .container2__form .form__first .form__date input {
    font-size: 14px;
    width: 100px;
  }

  .form__options {
    font-size: 14px;
  }

  .container2 .container2__right .container2__form #bookButton {
    font-size: 16px;
    padding: 12px;
  }

  .container2 .container2__right .container2__form .form__fourth input {
    font-size: 14px;
  }

  .container2 .container2__right .container2__form .form__fourth input:last-child {
    font-size: 14px;
  }

  .container2 .container2__right .container2__form .form__first .form__date .form__counter button:last-child {
    padding-left: 10px
  }

  .footer .footer__right .footer__nav {
    padding-bottom: 20px;
  }

  .footer .footer__right .footer__nav a {
    font-size: 12px;
  }

  .footer .footer__right .footer__icons {
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .container2 .container2__content .container2__left .container2__paragraph .container2__additional .additional__text p:last-child {
    width: 250px;
  }

  .footer {
    padding: 40px;
  }

  .footer .footer__left h4 {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .footer .footer__left .footer__form input {
    font-size: 14px;
  }

  .footer .footer__left p {
    font-size: 12px;
  }

  .footer .footer__left span {
    font-size: 12px;
  }
  .footer .footer__right .footer__nav a {
    font-size: 8px;
  }

  .footer .footer__right .footer__icons svg {
    width: 35px;
    height: 35px;
  }
}
