@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Open+Sans:wght@300;400;600&family=Oswald:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  transition: all 0.5s;
}

html, body {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 18px;
  padding-bottom: 18px;
  box-shadow: -5px -5px 12px #000000;
}

.header .header__nav {
  display: flex;
  column-gap: 36px;
}

.header .header__nav a {
  text-decoration: none;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 171%;
  text-transform: uppercase;
  color: #000000;
}

.header button {
  background: #5B6460;
  padding: 16px 60px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.container1 {
  position: relative;
}

.menu-button {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    position: fixed;
    z-index: 2000;
    display: none;
}

.bar1, .bar2, .bar3 {
    width: 15px;
    height: 2px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-3px, 4px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: rotate(45deg) translate(-3px, -4px);
}

.container1 .container1__menu {
  width: 100vw;
  height: 100vh;
  background: #5B6460;
  position: fixed;
  z-index: 1000;
  transform: translateX(-100vw);
  transition: 0.3s;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  display: none;
}

.container1 .showMenu {
  transform: translateX(0vw);
}

.container1 .container1__menu .container1__nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container1 .container1__menu .container1__nav li {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.container1 .container1__menu .container1__nav li:hover {
  background: #fff;
}

.container1 .container1__menu .container1__nav a {
  text-decoration: none;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 171%;
  text-transform: uppercase;
  color: #fff;
}

.container2 {
  padding: 0 150px;
}

.container2 .container2__content ul {
  margin-top: 100px;
}

.container2 .container2__content ul li {
  list-style-type: none;
  width: 60%;
  margin: 24px 0;
}

.container2 .container2__content .container2__dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.7px solid #5B6460;
  padding: 8px 24px;
}

.container2 .container2__content .container2__dropdown h3 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #333333;
}

.container2 .container2__content .container2__dropdown .moreinfo {
  z-index: -1;
}

.container2 .container2__content .container2__dropContent {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 129%;
  color: #333333;
  padding: 30px 0;
  display: none;
}

.container2 .container2__content .container2__dropContent p {
  padding: 10px 0;
}

.container2 .container2__content .container2__dropdown .moreinfo {
  border-radius: 50%;
  background: #E9ECE0;
  height: 34px;
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background: #5B6460;
  display: flex;
  justify-content: space-around;
  column-gap: 100px;
  padding: 100px;
  margin-top: 133px;
}

.footer .footer__left h4 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 188%;
  color: #FFFFFF;
  padding-bottom: 40px;
}

.footer .footer__left .footer__form {
  border-bottom: 1px solid #EFEFEF;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.footer .footer__left .footer__form input {
  border: none;
  background: #5B6460;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 188%;
  color: #FFFFFF;
  width: 100%;
}

.footer .footer__left .footer__form input {
  outline: 0;
}

.footer .footer__left .footer__form button {
  border: none;
  background: #5B6460;
  cursor: pointer;
}

.footer .footer__left p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 188%;
  color: #FFFFFF;
  opacity: 0.7;
  padding-bottom: 70px;
}

.footer .footer__left span {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 214%;
  color: #EFEFEF;
  opacity: 0.7;
}

.footer .footer__right .footer__nav {
  display: flex;
  column-gap: 33px;
  padding-bottom: 60px;
}

.footer .footer__right .footer__nav a {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 171%;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.footer .footer__right .footer__icons {
  display: flex;
  column-gap: 40px;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 1024px) {
  .header a {
    font-size: 16px;
  }

  .header button {
    padding: 10px 36px;
  }

  .container2 {
    padding: 0 80px;
  }

  .container2 .container2__content ul {
    margin-top: 50px;
  }

  .container2 .container2__content ul li {
    width: 100%;
  }

  .container2 .container2__content .container2__dropdown h3 {
    font-size: 18px;
  }

  .container2 .container2__content .container2__dropdown .moreinfo {
    height: 28px;
    width: 28px;
  }

  .container2 .container2__content .container2__dropContent {
    font-size: 14px;
    padding: 20px 0;
  }



  .footer {
    margin-top: 50px;
    padding: 60px;
  }

  .footer .footer__left h4 {
    padding-bottom: 20px;
  }

  .footer .footer__left p {
    font-size: 16px;
    padding-bottom: 40px;
  }

  .footer .footer__left span {
    font-size: 16px;
  }

  .footer .footer__right .footer__nav {
    padding-bottom: 40px;
  }

  .footer .footer__right .footer__nav a {
    font-size: 16px;
  }
}

@media (max-width: 705px) {
  .header {
    display: none;
  }

  .menu-button {
    display: inline-block;
  }

  .container1 .container1__menu {
    display: flex;
  }

  .container1 {
    background: #5B6460;
    height: 6vh;
    padding: 0;
  }

  .container2 {
    padding: 0 30px;
  }

  .container2 .container2__content ul {
    margin-top: 30px;
  }

  .container2 .container2__content .container2__dropdown .moreinfo svg {
    height: 8px;
    width: 15px;
  }

  .container2 .container2__content .container2__dropdown h3 {
    font-size: 16px;
  }

  .container2 .container2__content .container2__dropContent {
    font-size: 13px;
  }

  .footer {
    margin-top: 50px;
    padding: 60px;
    flex-direction: column;
    gap: 30px;
  }

  .footer .footer__right .footer__nav {
    padding-bottom: 40px;
    justify-content: center;
  }

  .footer .footer__right .footer__icons {
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .container2 .container2__content .container2__dropdown h3 {
    font-size: 14px;
  }

  .container2 .container2__content .container2__dropContent {
    font-size: 12px;
  }

  .footer .footer__right .footer__nav a {
    font-size: 12px;
  }

  .footer .footer__right .footer__icons {
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .footer .footer__right .footer__nav {
    padding-bottom: 20px;
  }

  .footer .footer__right .footer__nav a {
    font-size: 12px;
  }

  .footer .footer__right .footer__icons {
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .footer {
    padding: 40px;
  }

  .footer .footer__left h4 {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .footer .footer__left .footer__form input {
    font-size: 14px;
  }

  .footer .footer__left p {
    font-size: 12px;
  }

  .footer .footer__left span {
    font-size: 12px;
  }
  .footer .footer__right .footer__nav a {
    font-size: 8px;
  }

  .footer .footer__right .footer__icons svg {
    width: 35px;
    height: 35px;
  }
}
