@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Open+Sans:wght@300;400;600&family=Oswald:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  transition: 0.5s;
}

html, body {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 18px;
  padding-bottom: 18px;
}

.header .header__nav {
  display: flex;
  column-gap: 36px;
}

.header .header__nav a {
  text-decoration: none;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 171%;
  text-transform: uppercase;
  color: #000000;
}

.header button {
  background: #5B6460;
  padding: 16px 60px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
  transition: .2s ease-in-out;
  border: none;
  cursor: pointer;
}

.header button:before {
content: "";
background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
height: 70px;
width: 50px;
position: absolute;
top: -8px;
left: -75px;
transform: skewX(-45deg);
}
.header button:hover {
background: #5B6460;
opacity: 0.9;
color: #fff;
}
.header button:hover:before {
left: 250px;
transition: .5s ease-in-out;
}

.container1 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../images/background1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.menu-button {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    position: fixed;
    z-index: 2000;
    display: none;
}

.bar1, .bar2, .bar3 {
    width: 15px;
    height: 2px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-3px, 4px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: rotate(45deg) translate(-3px, -4px);
}

.container1 .container1__menu {
  width: 100vw;
  height: 100vh;
  background: #5B6460;
  position: fixed;
  z-index: 1000;
  transform: translateX(-100vw);
  transition: 0.3s;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  display: none;
}

.container1 .showMenu {
  transform: translateX(0vw);
}

.container1 .container1__menu .container1__nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container1 .container1__menu .container1__nav li {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.container1 .container1__menu .container1__nav li:hover {
  background: #fff;
}

.container1 .container1__menu .container1__nav a {
  text-decoration: none;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 171%;
  text-transform: uppercase;
  color: #fff;
}

.container1 .container1__content h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 78px;
  line-height: 103%;
  text-align: right;
  color: #FFFFFF;
  padding-right: 58px;
  padding-top: 95px;
  padding-bottom: 36px;
}

.container1 .container1__content p {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  text-align: right;
  color: #FFFFFF;
  padding-right: 142px;
}

.container1 .container1__book {
  position: absolute;
  left: 10%;
  bottom: -37px;
  display: flex;
}

.container1 .container1__book a {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 156%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #5B6460;
  padding: 24px 80px;
  border: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.7s;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 .container1__book a:before {
content: "";
background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
height: 170px;
width: 50px;
position: absolute;
top: -8px;
left: -175px;
transform: skewX(-45deg);
}

.container1 .container1__book a:hover {
  background: #6B7370;
  color: #fff;
}

.container1 .container1__book a:hover:before {
  left: 300px;
  transition: .6s ease-in-out;
}

.container1 .container1__book .container1__price {
  background: #E9ECE0;
  padding: 12px 36px;
}

.container1 .container1__book .container1__price span {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}

.container1 .container1__book .container1__price h4 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 140%;
  color: #333333;
}

.container1 .container1__book .container1__price p {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
  text-align: right;
}

.container2 .container2__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 150px;
  padding-bottom: 150px;
}

.container2 .container2__content img {
  width: 40%;
}

.container2 .container2__content h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 100%;
  color: #5B6460;
  padding-bottom: 50px;
}

.container2 .container2__content p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 188%;
  color: #000000;
  width: 680px;
  padding-bottom: 20px;
}

.container2 .container2__content a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 188%;
  color: #5B6460;
}

.container2 .container2__images {
  display: flex;
  justify-content: space-around;
  padding-bottom: 150px;
}

.container2 .container2__images img {
  width: 30%;
}

.container3 {
  padding-bottom: 80px;
}

.container3 .container3__maps {
  display: flex;
}

.container3 .container3__text {
  width: 50%;
  background: #E9ECE0;
  padding-top: 150px;
  padding-bottom: 150px;
}

.container3 .container3__text h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: #5B6460;
  padding: 0 110px 50px;
}

.container3 .container3__text p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 188%;
  color: #333333;
  padding: 0 110px 40px;
}

.container3 .container3__text a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 188%;
  color: #5B6460;
  padding: 0 110px;
}

.container3 .container3__facilities {
  padding: 150px;
  background: #5B6460;
}

.container3 .container3__facilities h3 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 120px;
}

.container3 .container3__facilities .container3__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 133px;
  grid-row-gap: 83px;
}

.container3 .container3__facilities .container3__grid .container3__element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.container3 .container3__facilities .container3__grid .container3__element p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 156%;
  text-align: center;
  color: #FFFFFF;
}

.container3 .container3__images {
  display: inline-flex;
  width: 100%;
  position: relative;
}

.container3 .container3__images div {
  position: absolute;
  left: 50%;
  margin-left: -78px;
  top: 50%;
  margin-top: -78px;
  background: #E9ECE0;
  border-radius: 50%;
  width: 156px;
  height: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  transition: 0.4s;
}

.container3 .container3__images div:hover {
  background: #5B6460;
}

.container3 .container3__images div:hover a {
  color: #ffffff;
}

.container3 .container3__images div a {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 138%;
  text-align: center;
  list-style: none;
  text-decoration: none;
  color: #333333;
}

.container3 .container3__images img {
  width: 50%;
  object-fit: cover;
}

.container4__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container4__content .container4__left h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 150%;
  color: #5B6460;
  padding-bottom: 50px;
}

.container4__content .container4__left p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 188%;
  color: #000000;
  padding-bottom: 50px;
}

.container4__content .container4__left a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 188%;
  color: #000000;
  text-decoration: none;
}

.container4__content .container4__left .container4__icons {
  display: flex;
  column-gap: 43px;
  padding-top: 50px;
}

.container4__content .container4__left .container4__icons svg {
  transition: 0.3s;
}

.container4__content .container4__left .container4__icons svg:hover {
  opacity: 0.8;
}

.container4__content .container4__right {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.container4__content .container4__right img{
  width: 100%;
}

.container4__content .container4__right .container4__book {
  display: flex;
  width: 100%;
}

.container4__content .container4__right .container4__book a {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #5B6460;
  color: #FFFFFF;
  border: none;
  padding: 18px auto;
  width: 80%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.container4__content .container4__right .container4__book a:before {
  content: "";
  background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
  height: 120px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -125px;
  transform: skewX(-45deg);
}

.container4__content .container4__right .container4__book a:hover {
  background: #5B6460;
  color: #fff;
  opacity: 0.9;
}

.container4__content .container4__right .container4__book a:hover:before {
  left: 400px;
  transition: .5s ease-in-out;
}

.container4__content .container4__right .container4__book .container4__price {
  background: #E9ECE0;
  padding: 12px 34.5px;
  width: 20%;
}

.container4__content .container4__right .container4__book .container4__price span {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}

.container4__content .container4__right .container4__book .container4__price h4 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 140%;
  color: #333333;
}

.container4__content .container4__right .container4__book .container4__price p {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
  text-align: right;
}

.footer {
  background: #5B6460;
  display: flex;
  justify-content: space-around;
  column-gap: 100px;
  padding: 100px;
  margin-top: 133px;
}

.footer .footer__left h4 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 188%;
  color: #FFFFFF;
  padding-bottom: 40px;
}

.footer .footer__left .footer__form {
  border-bottom: 1px solid #EFEFEF;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.footer .footer__left .footer__form input {
  border: none;
  background: #5B6460;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 188%;
  color: #FFFFFF;
  width: 100%;
}

.footer .footer__left .footer__form input {
  outline: 0;
}

.footer .footer__left .footer__form button {
  border: none;
  background: #5B6460;
  cursor: pointer;
}

.footer .footer__left p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 188%;
  color: #FFFFFF;
  opacity: 0.7;
  padding-bottom: 70px;
}

.footer .footer__left span {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 214%;
  color: #EFEFEF;
  opacity: 0.7;
}

.footer .footer__right .footer__nav {
  display: flex;
  column-gap: 33px;
  padding-bottom: 60px;
}

.footer .footer__right .footer__nav a {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 171%;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.footer .footer__right .footer__icons {
  display: flex;
  column-gap: 40px;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 1024px) {
  .header a {
    font-size: 16px;
  }

  .header button {
    padding: 10px 36px;
  }

  .container1 .container1__content h2 {
    font-size: 56px;
  }

  .container1 .container1__content p {
    font-size: 20px;
    padding-right: 100px;
  }

  .container1 .container1__book a {
    font-size: 18px;
    padding: 15px 56px;
  }

  .container1 .container1__book .container1__price {
    padding: 10px 20px;
  }

  .container2 .container2__content {
    padding: 50px 0;
  }

  .container2 .container2__content h2 {
    font-size: 40px;
  }

  .container2 .container2__content p {
    font-size: 16px;
    width: 440px;
  }

  .container2 .container2__content a {
    font-size: 16px;
  }

  .container3 .container3__text {
    padding: 50px 0;
  }

  .container3 .container3__text h2 {
    padding: 0 40px 20px;
    font-size: 40px;
  }

  .container3 .container3__text p {
    font-size: 15px;
    padding: 0 40px 20px;
  }

  .container3 .container3__text a {
    font-size: 15px;
    padding: 0 40px 20px;
  }

  .container3 .container3__facilities {
    padding: 80px;
  }

  .container3 .container3__facilities h3 {
    padding-bottom: 70px;
    font-size: 40px;
  }

  .container3 .container3__facilities .container3__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
  }

  .container3 .container3__facilities .container3__grid .container3__element svg {
    width: 60px;
    height: 60px;
  }

  .container3 .container3__facilities .container3__grid .container3__element p {
    font-size: 18px;
  }

  .container3 .container3__images div {
    height: 128px;
    width: 128px;
    margin-top: -64px;
    margin-left: -64px;
  }

  .container3 {
    padding-bottom: 40px;
  }

  .container4 .container4__left h2 {
    font-size: 32px;
    padding-bottom: 25px;
  }

  .container4__content .container4__left p {
    padding-bottom: 25px;
  }

  .container4__content .container4__right {
    width: 35%;
  }

  .container4__content .container4__right .container4__book .container4__price {
    padding: 12px 34.5px;
  }

  .footer {
    margin-top: 50px;
    padding: 60px;
  }

  .footer .footer__left h4 {
    padding-bottom: 20px;
  }

  .footer .footer__left p {
    font-size: 16px;
    padding-bottom: 40px;
  }

  .footer .footer__left span {
    font-size: 16px;
  }

  .footer .footer__right .footer__nav {
    padding-bottom: 40px;
  }

  .footer .footer__right .footer__nav a {
    font-size: 16px;
  }
}

@media (max-width: 705px) {
  .header {
    display: none;
  }

  .menu-button {
    display: inline-block;
  }

  .container1 .container1__menu {
    display: flex;
  }

  .container1 {
    height: 50vh;
  }

  .container1 .container1__content h2 {
    font-size: 36px;
  }

  .container1 .container1__content p {
    font-size: 16px;
    padding-right: 70px;
  }

  .container1 .container1__book a {
    font-size: 18px;
    padding: 10px 40px;
  }

  .container1 .container1__book .container1__price {
    padding: 5px 20px;
  }

  .container1 .container1__book .container1__price h4 {
    font-size: 16px;
  }

  .container1 .container1__book .container1__price span {
    font-size: 13px;
  }

  .container1 .container1__book .container1__price p {
    font-size: 13px;
  }

  .container2 .container2__content {
    padding: 50px 0;
  }

  .container2 .container2__content h2 {
    font-size: 32px;
    padding-bottom: 20px;
  }

  .container2 .container2__content p {
    font-size: 14px;
  }

  .container2 .container2__content a {
    font-size: 14px;
  }

  .container2 .container2__content img {
    width: 70%;
  }

  .container2 .container2__images {
    display: none;
  }

  .container3 .container3__text {
    padding: 30px 0;
  }

  .container3 .container3__text h2 {
    padding: 0 40px 20px;
    font-size: 32px;
  }

  .container3 .container3__text p {
    font-size: 12px;
    padding: 0 40px 10px;
  }

  .container3 .container3__text a {
    font-size: 12px;
    padding: 0 40px 20px;
  }


  .container3 .container3__facilities {
    padding: 60px;
  }

  .container3 .container3__facilities h3 {
    padding-bottom: 50px;
    font-size: 36px;
  }

  .container3 .container3__facilities .container3__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }

  .container3 .container3__facilities .container3__grid .container3__element svg {
    width: 50px;
    height: 50px;
  }

  .container3 .container3__facilities .container3__grid .container3__element p {
    font-size: 16px;
  }

  .container3 .container3__images div {
    height: 100px;
    width: 100px;
    margin-top: -50px;
    margin-left: -50px;
  }

  .container3 .container3__images div a {
    font-size: 16px;
  }

  .container4 .container4__left h2 {
    font-size: 28px;
    padding-bottom: 20px;
  }

  .container4__content .container4__left p {
    padding-bottom: 20px;
  }

  .container4__content .container4__right {
    width: 35%;
  }

  .container4__content .container4__right .container4__book .container4__price {
    display: none;
  }

  .container4__content .container4__right .container4__book button {
    width: 100%;
    padding: 10px;
  }

  .footer {
    margin-top: 50px;
    padding: 60px;
    flex-direction: column;
    gap: 30px;
  }

  .footer .footer__right .footer__nav {
    padding-bottom: 40px;
    justify-content: center;
  }

  .footer .footer__right .footer__icons {
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .container1 .container1__content h2 {
    font-size: 28px;
    padding-bottom: 18px;
    padding-top: 40px;
  }

  .container1 .container1__content p {
    font-size: 14px;
    padding-right: 70px;
  }

  .container1 .container1__book {
    bottom: -20px;
  }

  .container1 .container1__book a {
    font-size: 14px;
    padding: 8px 32px;
  }

  .container1 .container1__book .container1__price {
    display: none;
  }

  .container2 .container2__content {
    padding: 50px 0;
  }

  .container2 .container2__content h2 {
    font-size: 24px;
    padding-bottom: 15px;
  }

  .container2 .container2__content p {
    font-size: 12px;
    padding-bottom: 15px;
  }

  .container2 .container2__content a {
    font-size: 12px;
  }

  .container3 .container3__maps {
    flex-direction: column;
  }

  .container3 .container3__maps iframe {
    width: 100%;
    height: 250px;
  }

  .container3 .container3__text {
    width: 100%;
  }

  .container3 .container3__facilities {
    padding: 40px;
  }

  .container3 .container3__facilities h3 {
    padding-bottom: 30px;
    font-size: 32px;
  }

  .container3 .container3__facilities .container3__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .container3 .container3__facilities .container3__grid .container3__element svg {
    width: 40px;
    height: 40px;
  }

  .container3 .container3__facilities .container3__grid .container3__element p {
    font-size: 14px;
  }

  .footer .footer__right .footer__nav a {
    font-size: 12px;
  }

  .footer .footer__right .footer__icons {
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .container1 .container1__content h2 {
    padding-bottom: 10px;
    padding-right: 20px;
    font-size: 26px;
  }

  .container1 .container1__content p {
    font-size: 12px;
    padding-right: 20px;
  }

  .container2 .container2__text p {
    width: 350px;
  }

  .container2 img {
    display: none;
  }

  .container3 .container3__facilities {
    padding: 30px;
  }

  .container3 .container3__facilities h3 {
    padding-bottom: 20px;
    font-size: 28px;
  }

  .container3 .container3__facilities .container3__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }

  .container3 .container3__facilities .container3__grid .container3__element svg {
    width: 40px;
    height: 40px;
  }

  .container3 .container3__facilities .container3__grid .container3__element p {
    font-size: 13px;
  }

  .container3 .container3__images div {
    height: 78px;
    width: 78px;
    margin-top: -39px;
    margin-left: -39px;
  }

  .container3 .container3__images div a {
    font-size: 13px;
  }

  .container4 .container4__content {
    justify-content: flex-start;
    padding: 0 40px;
  }

  .container4 .container4__content .container4__icons {
    padding-top: 25px;
  }

  .container4 .container4__content .container4__icons svg {
    width: 35px;
    height: 35px;
  }

  .container4 .container4__right {
    display: none;
  }

  .footer .footer__right .footer__nav {
    padding-bottom: 20px;
  }

  .footer .footer__right .footer__nav a {
    font-size: 12px;
  }

  .footer .footer__right .footer__icons {
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .container1 {
    height: 35vh;
  }

  .container3 {
    padding-bottom: 20px;
  }

  .container3 .container3__text h2 {
    font-size: 24px;
    padding-bottom: 10px;
  }

  .container3 .container3__text p {
    font-size: 11px;
  }

  .container4 .container4__left h2 {
    font-size: 24px;
  }

  .container4 .container4__right {
    display: none;
  }

  .footer {
    padding: 40px;
  }

  .footer .footer__left h4 {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .footer .footer__left .footer__form input {
    font-size: 14px;
  }

  .footer .footer__left p {
    font-size: 12px;
  }

  .footer .footer__left span {
    font-size: 12px;
  }
  .footer .footer__right .footer__nav a {
    font-size: 8px;
  }

  .footer .footer__right .footer__icons svg {
    width: 35px;
    height: 35px;
  }
}
